<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Current second is
        @if(DateTime.Now.Second % 2 == 0)
        {
            <span class="badge bg-primary">even</span>
        }
        else
        {
            <span class="badge bg-secondary">odd</span>
        }
    </p>
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
