<h1>Privacy Policy</h1>

<p>Use this page to detail your site's privacy policy.</p>


@* Razor Syntax: @if @for @switch @{...} @Model*@

@for (int i = 0; i < 5; i++)
{
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
@for (int i = 0; i < 5; i++)
{
    <div class="spinner-grow text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
