@model List<Order>

<h1>My Orders</h1>

<ul class="list-group">
    @foreach (var i in Model)
    {
        <li class="list-group-item">[@i.Id] - @i.CreationDate.ToShortTimeString() - Count: @i.Products?.Count</li>
    }
</ul>